/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Map */

.mapStyleHorizonTabs,
.mapStyleVerticalTabs,
.mapStyleHorizontMapRoute,
.mapStyleVerticalMapRoute {
  width: 100%;
  height: calc(100vh - 6.3rem);
  background-image: url("../public/images/loadingmap2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
}

.mapStyleHorizontMapChat,
.mapStyleVerticalMapChat {
  width: 100%;
  height: 100vh; /* calc(100vh - 6.3rem); */
  background-image: url("../public/images/loadingmap2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
}

/* Map balloon styles */

/*css vars for balloons*/

:root {
  --balloon-close-color: #14c6c9; /* #52bbf3; */
  --balloon-hover-close-color: #0adadd; /* #0a93dd; */
  --balloon-background-color: white;

  --balloon-orange-close-color: #ee9639;
  --balloon-orange-hover-close-color: #e77b31;
  --balloon-button-background-color: #ee9639;
}

.custom-balloon,
.custom-orange-balloon {
  position: relative;
  padding: 0.5rem;
  border-radius: 0.15rem;
  background-color: var(--balloon-background-color);
  overflow-wrap: break-word;
  min-width: 10rem;
}

.custom-balloon__close,
.custom-orange-balloon__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.custom-balloon__close {
  color: var(--balloon-close-color);
}

.custom-orange-balloon__close {
  color: var(--balloon-orange-close-color);
}

.custom-balloon__close:hover,
.custom-orange-balloon__close:hover {
  color: var(--balloon-hover-close-color);
}

.custom-orange-balloon__close:hover {
  color: var(--balloon-orange-hover-close-color);
}

.button-delete-marker,
.button-share-marker {
  margin-top: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.15rem;
  font-size: 0.8rem;
  color: white;
  background-color: var(--balloon-button-background-color);
}
