// Help.module.scss
@import "sharedHomeHelp.module.scss";

.playerWrapper {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.videoCaption {
  margin-top: 0.25rem;
  font-weight: 500;
}

.numberedMainListHelp {
  counter-reset: item;
  list-style-type: none;
}

.numberedMainListHelp li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
  /*  margin-right: 0rem;  */
}

.numberedSubListHelp {
  counter-reset: subitem;
  list-style-type: none;
  margin-left: 1.5rem;
}

.numberedSubListHelp li::before {
  counter-increment: subitem;
  content: counters(item, ".") "." counter(subitem) ". ";
}

.anchor::before {
  content: "";
  display: block;
  height: 3rem;
  margin-top: -3rem;
  visibility: hidden;
}

.instructionHeader {
  @apply text-lg mt-4 font-medium;
}
.medium {
  @apply font-medium;
}
