// HorizontRouteMap.module.scss
@import "sharedRoute.module.scss";

//main classes
.wrapper {
  @apply flex;
  padding: $paddingMain;
}

.leftSide {
  @apply basis-2/5;
  padding: $paddingAdd;
  padding-right: $paddingMain + $paddingAdd;
}

.rightSide {
  @apply basis-3/5;
  padding: 0.15rem;
  background-color: $rightSideColor;
}
