// sharedTabsGde.module.scss

$tabContentBackgroundColor: rgba(255, 255, 255, 1);

.tab {
  display: flex;
  align-items: center;
  background-color: #b0eced;
  font-size: 1rem;
  cursor: pointer;
}

/* .tab:hover {
  background-color: white;
  transition: 0.5s;
} */

.tab:not(:last-child) {
  margin-bottom: 0px;
  border-bottom: 1px solid white;
}

.tabContent {
  padding: 0.5rem;
}

.contentForMap {
  width: 100%;
  height: 100%;
  overflow: hidden;

  border-radius: 0.15rem;
}
.active {
  background-color: #0adadd;
  transition: 0.5s;
}
