// sharedRouteChat.module.scss

// Variables
$paddingMain: 0.5rem;
$paddingAdd: 0.5rem;
$rightSideColor: white;

%label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

%warning {
  font-style: italic;
  color: #1cadb2; /* #0a93dd;*/
  font-size: 0.8rem;
}

%input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
}

.mainButtonStyle {
  min-width: 5rem;
  padding: 0 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.3rem;
  background-color: #14c6c9;
  font-size: 0.85rem;
  color: white;
}

.mainInput {
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
.mainInput:focus {
  outline: none;
}

.forMap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.15rem;
}

.smallWarning {
  @extend %warning;
  font-size: 0.65rem;
  padding: 0.3rem;
  padding-left: 0;
  min-height: 1rem;
}

.errorMessageRoute {
  color: red;
}
